extends layout

block content
  .topSection
    .topSectionContainer
      h1 Cloudsdale Returns!
      h2 ... in Winter 2016
  .midSection
    .heroContainer
      .heroImgDiv(style={
        "background-image": "url(" + image.image + ")"
      })
        img.heroImg(src=image.image)
      .caption
        p.
          Image by 
          #[a(href="http://vodyanoyart.deviantart.com/") VodyanoyArt on DeviantArt].
          #[a(href=image.attrib) Source]. Licensed under 
          #[a(href="https://creativecommons.org/licenses/by-nc-nd/3.0/") CC BY-NC-ND 3.0].

  .bottomSection    
    .faqTextContainer
      h1 Details / Frequently Asked Questions
        h2 When are you coming back?
          p.
            As soon as possible! We're still sorting out some technical things,
            but we hope to be back in November at the earliest, and worst case
            scenario, possibly January next year.
        h2 Why bring back Cloudsdale?
          p.
            Because we can? We've worked out a way to tweak the website so that
            we can run it at minimum cost. Also, we've been hearing you the
            past two years: a lot of you would like to see Cloudsdale come 
            back. Now that we're in a position to bring it back to life, we
            can't wait to get back online, hopefully reuniting some long-lost
            friendships.
        h2 Donations?
          p.
            We will no longer be taking donations. The site will continue to 
            run completely non-profit, with zero advertising. Our aim is to get
            the server software running so efficiently that we can run it
            basically indefinitely.
        h2 What about the iPhone app?
          p.
            Pending any Apple review approvals, this will hopefully make its
            way back to the App Store not long after the website goes live.
        h2 Android?
          p.
            Nice try. We never finished our Android app and unfortunately at
            this stage it's not likely to ever finish.
        h2 What's changing?
          p.
            Not much. All your old accounts, passwords, avatars, and clouds
            should return. The only major changes to the website 
            is the removal of donations, and we will no longer be storing the
            entire chat history for every cloud. We will still store some
            recent history for a cloud so you can join in at any time with 
            context, but you will no longer be able to go back in the chat
            history much further than that.
        h2 Are you going to build new stuff now?
          p.
            Probably not. Our aim is to get the website running again.
            Depending on community interest after that, we may or may not 
            continue developing features for it, but that's probably unlikely.
            The same applies for the iPhone app.
        h2 What happened to Chatspry? Is this it?
          p.
            Chatspry did not work out. Turns out building high quality, cross
            platform chat software is hard. Bringing Cloudsdale back to life is
            an entirely separate, unrelated effort to Chatspry.
        h2 Who is doing all this?
          p.
            This is mostly the effort of some Ex-Cloudsdale staff members. Most
            of the technical work is being done by Nitro and Aethe, with some
            helpful contributions from Berwyn and Zeeraw.

      img#logo(src="/images/WingWatermark.png" height=240 width=240)
      .twitterButton
        a(href="https://twitter.com/cloudsdaleapp")
          img#twitter(src="/images/twitter.png")
